<div class="center">

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Your booking confirmation</h2>
      <p>Your start date: <strong>24/02/22</strong></p>
      <p>Your end date: <strong>10/03/22</strong></p>
      <p>Status: <strong>pending</strong>/done/wip</p>
    </div>
  </div>

</div>

        <%# <ul> %>
          <%# <% @bookings.each do |booking| %>
            <%# <li> your start_date <%= booking.start_date </li> %>
            <%# <li> your end_date <%= booking.end_date </li> %>
            <%# <li> your status <%= booking.status </li> %>
          <%# <% end %>
        <%# </ul> %>
