<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/PaulSess" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/tielass/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Bartouns/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/donaldtrump?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/paul-sessbruegger-625739252/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Paul
  </div>
</div>

<style>
.footer {
  background: rgb(196, 196, 196);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  padding: 0px 50px;
  color: black;
  /* position: sticky;
  bottom: 0; */
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
</style>
