<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/46798/the-ball-stadion-football-the-pitch-46798.jpeg);">
  <div class="container">
    <h1>LonelyFans <strong>helps you</strong> to <strong>find commited people</strong>!</h1>
    <p>Change your life and find the right fans to clobber with other lonely fans.</p>
    <a class="btn btn-primary" href="#">Find 'em now! </a>
  </div>
</div>

<h1>Pages#home</h1>
<p>Check your bookings</p>
