<div class="cards">
  <% @fans.each do |fan| %>
    <div class="card" style="width: 18rem;">
      <img src="https://res.cloudinary.com/ddlep0dr3/image/upload/v1669127561/fun_lads_bxvtab.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <%= link_to fan.name.capitalize, fans_path(fan), class:"Dark link" %>
        <p class="card-text"><%= fan.description %></p>
        <p class="card-text"><%= fan.price %></p>
      </div>
    </div>
  <% end %>
</div>
