.fan-form {
  width: 35%;
  border: 2px solid #6D9886;
  border-radius: 5px;
  padding: 40px;
}

.filters-search {
  border-radius: 0 10px 10px 0;
  border: 1px solid rgb(72, 72, 72);
}

.filters-form {
  border: 1px solid rgb(72, 72, 72);
}
