.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#map {
  height: 100vh;
  max-width: 30%;
  position: sticky;
  top: 0;
  right: 0;
  margin: 40px 50px;
}
