.navbar-lewagon {
  justify-content: space-between;
  background: #6D9886;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  margin-left: 18px;
}
